DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/max_efficiency_db
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_ROUTE_TOPIC=route-topic
KAFKA_AI_RESPONSE_TOPIC=ai-response-topic
SECRET_KEY=supersecretkey